// bower:scss
// endbower



///// General Selectors ////////////////////////////
////////////////////////////////////////////////////
body {
    font-family: "Helvetica Neue";
}

.example {
    position: relative;
    height: 450px;
    width: 85%;
    border: 1px solid black;
    margin: 20px auto;
}

.example-box {
    height: 200px;
    width: 75%;
    outline: 1px solid red;
    margin: 60px auto 20px;
}

.button {
    position: absolute;
    right: 25px;
    bottom: 15px;
    height: 45px;
    width: 25%;
    line-height: 45px;
    margin: 5px auto;
    padding: 3px;
    text-align: center;
    font-size: 24px;
    outline: 1px solid black;
}

///// General Selectors ////////////////////////////
////////////////////////////////////////////////////

//// Example One //////////////////////////////////
//// .hover() & .animate() ////////////////////////

.example-one ul {
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding:0;
    margin-left: 24%;

    & .swipe-box {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        margin: 77px auto;
        height: 30px;
        width: 66px;
        transition: all .5s .1s linear;
        outline: 1px solid #797A7C;
        text-align: center;
        line-height: 30px;
        background: #1DAEEC;
        overflow: hidden;
    }

    & .swipe-box:before, & .swipe-box:after {
        position: absolute;
        content: " ";
        top:0;
        right: -41px;
        border-style: solid;
        z-index: -1;
        transition: all .6s linear;
    }

    & .swipe-box:before {
        border-width: 40px 0 0 40px;
        border-color: transparent transparent transparent #1DAEEC;
    }

    & .swipe-box:after {
        border-width: 0 40px 40px 0;
        border-color: transparent #D39D27 transparent transparent;
    }

    & .swipe-box:hover {
        background: #D39D27;
    }

    & .swipe-box:hover:before, & .swipe-box:hover:after {
        right: 88px;
        z-index: 5;
    }
}

.example-one-header {
    position: absolute;
    left: 5px;
    top: -10px;
}

.example-one-text {
    height: 80px;
    width: 90%;
    margin: 0 auto;

}

// .demo {
//     position: absolute;
//         top:0;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: 0 33px 33px 0;
//         border-color: transparent #0d38d2 transparent transparent;

// }