// bower:scss
// endbower

///// Colors ////////////////////////////
////////////////////////////////////////////////////
$gold: #D39D27;
$light-blue: #1DAEEC;
$green: #5FF756;
$magenta: #D2359B;
$orange: #FF7947;
$gray: #797A7C;
$off-white: #F6F6F6;
$purple: #8F40E8;
$pink: #FF2B67;
///// General Selectors ////////////////////////////
////////////////////////////////////////////////////
body {
    font-family: "Muli", "Helvetica Neue", sans-serif;
}

// General spacing div to hold example, name, text and button
.example {
    position: relative;
    height: 450px;
    width: 85%;
    border: 1px solid black;
    margin: 20px auto;
    background: $off-white;
}
// Inner div to hold example
.example-box {
    height: 200px;
    width: 75%;
    outline: 1px solid $gray;
    margin: 60px auto 20px;
    position: relative;
    background: $gray;
}
// Header text inside of each example.
.example-header {
    position: absolute;
    left: 5px;
    top: -10px;
}
// The "demo" toggle/button
.button {
    position: absolute;
    right: 25px;
    bottom: 15px;
    height: 45px;
    width: 25%;
    margin: 5px auto;
    padding: 3px;
    outline: 1px solid black;
    line-height: 45px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

// Styles the div containing the explaination text
.example-description-text {
    height: 80px;
    width: 90%;
    margin: 0 auto;
}

//// Example One //////////////////////////////////
//// .toggleClass() ///////////////////////////////

.toggle-class-example ul {
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding:0;
    margin-left: 24%;
    // Initially hidden class that will be added to the li elements to give them style
    & .swipe-box {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        margin: 77px auto;
        height: 30px;
        width: 66px;
        transition: all .5s .1s linear;
        outline: 1px solid $gray;
        text-align: center;
        line-height: 30px;
        background: $light-blue;
        overflow: hidden;
    }
    // General pseudo triangle properties
    & .swipe-box:before, & .swipe-box:after {
        position: absolute;
        content: " ";
        top:0;
        right: -41px;
        border-style: solid;
        z-index: -1;
        transition: all .6s linear;
    }
    // First bottom triangle
    & .swipe-box:before {
        border-width: 40px 0 0 40px;
        border-color: transparent transparent transparent #1DAEEC;
    }
    // Second "top" triangle
    & .swipe-box:after {
        border-width: 0 40px 40px 0;
        border-color: transparent $gold transparent transparent;
    }
    // Changes the button background to orange
    & .swipe-box:hover {
        background: $gold;
    }
    // Moves both triagles to the "left" and moves them in front
    & .swipe-box:hover:before, & .swipe-box:hover:after {
        right: 88px;
        z-index: 5;
    }
}

//// Example Two //////////////////////////////////
//// .hide() & .show() ////////////////////////////

.hide-example {
    text-align: center;
}

// Standard circle element
.circle {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 60px auto;
}
// Different colored circles and positions
.circle-one {
    position: absolute;
    left: 22%;
    background: $green;    
}

.circle-two {
    position: absolute;
    left: 44%;
    background: $magenta;
}

.circle-three {
    position: absolute;
    left: 66%;
    background: $orange;
}

//// Example Three /////////////////////////////////
//// .clone() //////////////////////////////////////

// keeps all the boxes maintained within the div
.clone-example {
    overflow: hidden;
}
// general properties of the small boxes
.boxxy-box {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 30px 35px 15px 10px;
    float: left;
    background: $purple;
    box-shadow:         0   1px 0 .5px darken($purple, 25%),
                inset   1px 1px 0 .5px darken($purple, 10%);
}

// changes the background color of box-two -also changes the 4th box as it's also a box-two div
.box-two, {
    background: $pink;
    box-shadow:         -1px   1px 0 .5px darken($pink, 25%),
                inset    1px   1px 0 .5px darken($pink, 10%);
}
// creates the buttons used to click for more boxes
.purple-button, .pink-button {
    position: absolute;
    bottom: 5px;
    height: 30px;
    width: 75px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
// purple button position and box-shadow
.purple-button {
    left: 25%;
    background: $purple;
    box-shadow:         -1px   1px 0 .5px darken($purple, 15%),
                inset   0      0   0  1px darken($purple, 5%);
}
// pink button position and box-shadow
.pink-button {
    right: 25%;
    background: $pink;
    box-shadow:         -1px   1px 0 .5px darken($pink, 25%),
                inset    0     0   0 1px darken($pink, 10%);
}


//// Example Four /////////////////////////////////
//// .bind() //////////////////////////////////////

// creates a box with a orange border. Hovering inside will change the color of the border.
.on-inner-box {
    position: absolute;
    top: 25%;
    margin-left: 25%;
    height: 50%;
    width: 50%;
    border: 4px solid $orange;
}

//// Example Five /////////////////////////////////
//// .animate() ///////////////////////////////////

// Creates a small blue ball 
.animated-box {
    position: absolute;
    top:45%;
    left:45%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $light-blue;
}
// General properties for all four directional buttons
.up-button, .down-button, .right-button, .left-button {
    position: absolute;
    height: 20px;
    width: 20px;
    background: $gold;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
// button position
.up-button {
    left: 46%;
    bottom: 32px;
}
// button position
.down-button {
    bottom: 4px;
    left: 46%;
}
// button position
.right-button {
    left: 50%;
    bottom: 15px;
}
// button position
.left-button {
    left: 42%;
    bottom: 15px;
}


//// Example Six //////////////////////////////////
//// .animate() ///////////////////////////////////

// two separate divs for an x and y coordinate report
.mouse-reporter-one {
    position: absolute;
    bottom: 20px;
}

.mouse-reporter-two {
    position: absolute;
    bottom: 0;
}

//// Example Seven ////////////////////////////////
//// .animate() ///////////////////////////////////
